.App {
  text-align: center;
}
img#arrow__img{
  margin-left: 590px;
  margin-top: 30px;
 max-width: 15px;
}
img#profile__img{
  width: 88px;
  height: 88px;
  border-radius: 50%;

}
h2#twitter{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
}
button{
 
  width: 1152px;
  height: 76px;
 position: relative;
 padding-left: 144px;
 padding-right: 144px;
 margin-top: 28px;
 background-color: #EAECF0;
 border: 1px;
  
}
img#slackicon{
  max-width: 15px;
  padding-right: 10px;
  margin-top: 30px;

}
img#githubicon{
  max-width: 15px;
  margin-top: 30px;

}
img.zuriname{
width: 185.03px;
height: 24.74px;
}
img.good{
width: 132.13px;
height: 32px;
}
div.footer{
  display: flex;
  margin-top: 100px;
}
img.zuriname{
  padding-left: 144px;
}
p.internship{
  margin-left:  250px;
  margin-top: 5px
}
img.good{
  margin-left: 350px;
}
button:hover {
  background-color: #D0D5DD;
}



/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
