.App {
  text-align: center;
}
img#arrow__img{
  margin-left: 590px;
  margin-top: 30px;
 max-width: 15px;
}
img#profile__img{
  width: 88px;
  height: 88px;
  border-radius: 50%;

}
p.naming{
  text-align: center;
}
h2#twitter{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
}
/* a#btn_twitter{
  text-align: center;
  width:500%;
  height: 76px;
} */
a#btn__zuri:hover {
  background-color: #D0D5DD;
}
a#btn__zuri{
  text-align: center;
  /* width: 150%; */
  height: 70px;
  /* size: 500px; */
  width: 33%;
 
  /* height: 706px; */ 
  background-color: #EAECF0;
  color: black;
  text-decoration-line: none;
  padding-left: 27%; 
  
  /* padding-top: 1%; */
 
 /* padding-right: 30%;  */
 margin-top: 28px;
 
 margin-left: 20%;
 margin-right: 20%;
 font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
display: flex;



}
a#btn_twitter:hover {
  background-color: #D0D5DD;
}
a#btn_twitter{
  
    text-align: center;
    
    /* width: 150%; */
    height: 70px;
   
  
  width: 33%;
   background-color: #EAECF0;
  color: black;
  text-decoration-line: none;
  padding-left: 27%; 
  margin-top: 28px;
 margin-left: 20%;
 margin-right: 20%;
 font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

}
a#books:hover {
  background-color: #D0D5DD;
}
a#books{
  text-align: center;
  /* width: 150%; */
  height: 70px;
  width: 33%;
  /* height: 706px; */ 
  background-color: #EAECF0;
  color: black;
  text-decoration-line: none;
  padding-left: 27%; 
 
 /* padding-right: 30%;  */
 margin-top: 28px;
 margin-left: 20%;
 margin-right: 20%;
 font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;


}
a#pitch:hover {
  background-color: #D0D5DD;
}
a#pitch{
  text-align: center;
  /* width: 150%; */
  height: 70px;
  width: 33%;
  /* height: 706px; */ 
  background-color: #EAECF0;
  color: black;
  text-decoration-line: none;
  padding-left: 27%; 
 
 /* padding-right: 30%;  */
 margin-top: 28px;
 margin-left: 20%;
 margin-right: 20%;
 font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;


}
a#book__design:hover {
  background-color: #D0D5DD;
}
a#book__design{
  text-align: center;
  /* width: 150%; */
  height: 70px;
  width: 33%;
  /* height: 706px; */ 
  background-color: #EAECF0;
  color: black;
  text-decoration-line: none;
  padding-left: 27%; 
 
 /* padding-right: 30%;  */
 margin-top: 28px;
 margin-left: 20%;
 margin-right: 20%;
 font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

}
a#book__python:hover {
  background-color: #D0D5DD;
}
a#book__python{
  text-align: center;
  /* width: 150%; */
  height: 70px;
  width: 33%;
  /* height: 706px; */ 
  background-color: #EAECF0;
  color: black;
  text-decoration-line: none;
  padding-left: 27%; 
 
 /* padding-right: 30%;  */
 margin-top: 28px;
 margin-left: 20%;
 margin-right: 20%;
 font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;


}
div.links{
  text-align: center;
}


img#slackicon{
  max-width: 15px;
  padding-right: 10px;
  margin-top: 30px;

}
img#githubicon{
  max-width: 15px;
  margin-top: 30px;

}
img.zuriname{
width: 185.03px;
height: 24.74px;
}
img.good{
width: 132.13px;
height: 32px;
}
div.footer{
  display: flex;
  margin-top: 4%;
}
img.zuriname{
  padding-left: 20%;
}
p.internship{
  margin-left: 10%;
  margin-top: 1%
}
img.good{
  margin-left: 11%;
}
a:hover {
  background-color: #D0D5DD;
}

h2#slack{
  display: none;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
